.button__burger {
  width: 24px;
  height: 24px;
  background: no-repeat center center url(../../../images/burger-menu.svg);
  background-size: cover;
}

@media screen and (min-width: 791px) {
  .button__burger {
    display: none;
  }
}
