.scroll {
  margin: 50px 197px 0 0;
  display: flex;
  gap: 17px;
  justify-content: flex-end;
}

@media screen and (max-width: 791px) {
  .scroll {
    margin: 30px 0 0 91px;
    justify-content: flex-start;
  }
}
