.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 166px 0 70px;
  display: flex;
  flex-direction: column;
  background: no-repeat center center url(../../images/about-background.png)
    #f3f3f3;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 120px 0 35px;
  }
}

@media screen and (max-width: 910px) {
  .about {
    padding: 80px 0 22px;
  }
}

@media screen and (max-width: 810px) {
  .about {
    padding: 70px 0 20px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.8)
      ),
      no-repeat center center url(../../images/about-background.png) #f3f3f3;
    background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 65px 0 17px;
  }
}
