.reviews-card__bio {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
  .reviews-card__bio {
    gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .reviews-card__bio {
    gap: 26px;
  }
}
