.rules__cancel {
  margin: 0;
  height: 401px;
  padding: 36px 37px 56px 37px;
  display: flex;
  flex-direction: column;
  gap: 65px;
  background: #4a5d67;
  border-radius: 30px;
  box-sizing: border-box;
}
