.main__block {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: no-repeat center url("../../../images/main-background-1.png")
    #9d9d9d;
  background-size: cover;
  border-radius: 30px;
  transition: background 0.5s ease;
}

@media screen and (max-width: 790px) {
  .main__block {
    border-radius: 20px;
  }
}
