.favourites__city_one {
  position: absolute;
  top: 214px;
  left: 208px;
}

@media screen and (max-width: 1110px) {
  .favourites__city_one {
    left: 80px;
  }
}

@media screen and (max-width: 910px) {
  .favourites__city_one {
    top: 70px;
  }
}
