.reviews-card__photo {
  width: 135px;
  height: 135px;
  border-radius: 67.5px;
}

@media screen and (max-width: 1280px) {
  .reviews-card__photo {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 910px) {
  .reviews-card__photo {
    width: 115px;
    height: 115px;
  }
}

@media screen and (max-width: 600px) {
  .reviews-card__photo {
    width: 99px;
    height: 99px;
  }
}
