.tours-card__link {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #e7e178;
  text-decoration: none;
  visibility: visible;
  opacity: 1;
  transition: 0.35s linear;
}

@media screen and (max-width: 790px) {
  .tours-card__link {
    font-size: 14px;
    line-height: 16px;
  }
}
