.main {
  margin: 0 auto;
  padding: 36px 30px 50px;
  background: no-repeat center url("../../images/main-background-1.png") #9d9d9d;
  background-size: cover;
  transition: background 0.5s ease;
}

@media screen and (max-width: 790px) {
  .main {
    padding: 18px 24px 15px 24px;
  }
}
