.main {
  margin: 0 auto;
  padding: 36px 30px 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    no-repeat center url(../../images/main-background-1.png) #c4c4c4;
  background-size: cover;
}

@media screen and (max-width: 790px) {
  .main {
    padding: 18px 24px 15px 24px;
  }
}
