.order-form__input {
  margin: 0;
  padding: 12px 12px 12px 24px;
  width: 100%;
  height: 46px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  background-color: #4a5d67;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}

.react-date-picker__wrapper {
  border: 0 !important;
  align-items: center;
}

.react-date-picker__inputGroup__input {
  color: #ffffff !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #ffffff !important;
}

.react-date-picker__inputGroup__input:invalid {
  background: #4a5d67 !important;
}

.order-form__input-date {
  width: 100%;
  margin: 0;
  padding: 12px 12px 12px 24px;
  height: 46px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  background-color: #4a5d67;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}

.order-form__input-area {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.order-form__input-error {
  margin: 0;
  padding: 0;
  height: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffe700;
}

@media screen and (max-width: 600px) {
  .order-form__input {
    height: 38px;
    font-size: 12px;
    line-height: 14px;
  }

  .react-date-picker__inputGroup__input {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}
