.order-form__input {
  margin: 0;
  padding: 12px 0 12px 24px;
  height: 46px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  background-color: #4a5d67;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}
