.order-form__input {
  margin: 0;
  padding: 12px 12px 12px 24px;
  width: 70%;
  -webkit-input-width: 70%;
  -moz-width: 70%;
  -webkit-width: 70%;
  -khtml-width: 70%;
  -o-width: 70%;
  -icab-width: 70%;
  -ms-width: 70%;
  content: attr(placeholder);
  height: 46px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  background-color: #4a5d67;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}

.order-form__input-area {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.order-form__input-error {
  margin: 0;
  padding: 0;
  height: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffe700;
}

input[type="date"] {
  display: inline-flex;
  -webkit-input-width: 70%;
  -moz-width: 70%;
  -webkit-width: 70%;
  -khtml-width: 70%;
  -o-width: 70%;
  -icab-width: 70%;
  -ms-width: 70%;
  width: 70%;
  content: attr(placeholder);
}

/* @media screen and (max-width: 600px) {
  .order-form__input {
    height: 38px;
    font-size: 12px;
    line-height: 14px;
    content: attr(placeholder);
    -webkit-input-width: 50%;
    -moz-width: 50%;
    -webkit-width: 50%;
    -khtml-width: 50%;
    -o-width: 50%;
    -icab-width: 50%;
    -ms-width: 50%;
  }
} */
