.footer {
  margin: 0 auto;
  padding: 54px 0 54px 81px;
  display: flex;
  gap: 177px;
  justify-content: center;
  align-items: center;
  background: #4a5d67;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 54px 0 54px 41px;
    gap: 100px;
  }
}

@media screen and (max-width: 1070px) {
  .footer {
    padding: 54px 0 54px 0;
    gap: 50px;
  }
}

@media screen and (max-width: 810px) {
  .footer {
    gap: 30px;
  }
}

@media screen and (max-width: 790px) {
  .footer {
    margin: -97px 0 0 0;
    padding: 0px;
    height: 97px;
    gap: 44px;
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    gap: 15px;
  }
}
