.tours__subtitle {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 1230px) {
  .tours__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 910px) {
  .tours__subtitle {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 600px) {
  .tours__subtitle {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
  }
}
