.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
