.team-card__star {
  width: 26px;
  height: 26px;
}

.team-card__star:last-of-type {
  margin: 0 7px 0 0;
}

@media screen and (max-width: 768px) {
  .team-card__star {
    width: 18px;
    height: 18px;
  }
}
