.scroll__button {
  margin: 0;
  padding: 0;
  width: 46px;
  height: 45px;
  border: 0;
  background: no-repeat center center;
  background-size: 46px 45px;
  transition: 0.3s;
}

.scroll__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 791px) {
  .scroll__button {
    width: 26px;
    height: 27px;
    background-size: 26px 27px;
  }
}
