.about-us__subtitle {
  margin: 0;
  padding: 0;
  max-width: 868px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #272f40;
}

@media screen and (max-width: 1024px) {
  .about-us__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 910px) {
  .about-us__subtitle {
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (max-width: 600px) {
  .about-us__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}
