.tours__include {
  margin: 47px 70px 0 0;
  display: grid;
  row-gap: 30px;
  column-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(327px, 500px));
  justify-content: center;
}

@media screen and (max-width: 1230px) {
  .tours__include {
    grid-template-columns: repeat(auto-fit, minmax(327px, 420px));
    margin: 30px 0 0 0;
    column-gap: 30px;
  }
}

@media screen and (max-width: 910px) {
  .tours__include {
    grid-template-columns: repeat(auto-fit, minmax(327px, 350px));
  }
}

@media screen and (max-width: 790px) {
  .tours__include {
    display: none;
  }
}
