.about-us {
  padding: 0 0 180px calc(100% - 1205px);
  max-width: 1440px;
  display: grid;
  grid-template-columns: minmax(325px, 470px) minmax(325px, 570px);
  gap: 30px;
}

@media screen and (max-width: 1230px) {
  .about-us {
    padding: 0 30px 100px 30px;
  }
}

@media screen and (max-width: 1230px) {
  .about-us {
    padding: 0 30px 80px 30px;
  }
}

@media screen and (max-width: 910px) {
  .about-us {
    padding: 0 30px 70px 30px;
  }
}

@media screen and (max-width: 810px) {
  .about-us {
    grid-template-columns: minmax(325px, 751px);
    grid-template-rows: auto;
    gap: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    padding: 0 24px 62px 24px;
  }
}
