.about-us__video {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: no-repeat center center url("../../../images/about-us-video.png");
  background-size: cover;
  border-radius: 20px;
  aspect-ratio: 1.38;
}

@media screen and (max-width: 810px) {
  .about-us__video {
    border-radius: 10px;
    aspect-ratio: 1.65;
  }
}
