.header {
  padding: 62px 56px 0 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .header {
    padding: 30px 21px 0 21px;
  }
}
